altair
altair_saver
nodejs
numpy
scipy
matplotlib
altair
papermill
geoalchemy2
openpyxl
cartopy
scikit-learn
geopandas
intake
intake-parquet
r-arrow
r-base
r-kableextra
r-rmarkdown
r-irkernel
r-reticulate
r-tidyverse
pyarrow
python-snappy
